<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <h2>My courses</h2>
        {{#if countDeleted}}
            <a class="btn btn-danger" href="/me/trash/courses">
                {{countDeleted}}
                <i class="fa-solid fa-trash"></i>
            </a>
        {{/if}}

         <div class="d-flex align-items-center mt-4">
             <div class="form-check mr-3">
                <input type="checkbox" class="form-check-input" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Check All</label>
            </div>
    
            <select class="form-control form-control-sm col-md-4 mr-3 checkbox-select--options" name="action" id="" required>
                <option value="">Choose...</option>
                <option value="delete">Delete</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
    
            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Submit</button>
         </div>
        
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Option</th>
                <th scope="col">
                    #
                    {{{sortable "_id" _sort}}}
                </th>
                <th scope="col">Name 
                    {{{sortable "name" _sort}}}
                </th>
                <th scope="col">Description</th>
                <th scope="col">IDVideo</th>
                <th scope="col">Customize</th>
            </tr>
        </thead>


        <tbody> 
            {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="idCourses[]" value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.idVideo}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit">Edit</a>
                        <a
                            href=""
                            data-toggle="modal"
                            data-id="{{this._id}}"
                            data-target="#exampleModal"
                        >Delete</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Bạn chưa đăng khóa học nào.
                        <a href="/courses/create">Create Course Now</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</form>

<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- form method delete --}}
<form method="POST" name="form-del-course"></form>

{{! modal javascript }}
<script>

    document.addEventListener("DOMContentLoaded", () => {
        var idCourse;
        var btnDelCourse = document.getElementById("btn-delete-course");
        var formDelCourse = document.forms["form-del-course"];
        var containerForm = $("form[name='container-form']");

        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="idCourses[]"]')
        var checkAllSubmitBtn = $(".check-all-submit-btn");

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            idCourse = button.data('id');
        })
        
        btnDelCourse.onclick = () => {
            formDelCourse.action = "/courses/" + idCourse + "?__method=DELETE";
            formDelCourse.submit();
        }

        // checkbox all change
        checkboxAll.change(function (e) {
            var isCheckedAll = $(this).prop("checked");
            courseItemCheckbox.prop("checked", isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        // Courses item checkbox change
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="idCourses[]"]:checked').length
            checkboxAll.prop("checked", isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="idCourses[]"]:checked').length;
            if(checkedCount>0) {
                checkAllSubmitBtn.attr("disabled", false);
           } else {
                checkAllSubmitBtn.attr("disabled", true);
           }
        }

    })

    

</script>