<div class="mt-4">
    <div>
        <h2>Trash Courses</h2>
        <a href="/me/stored/courses">Danh sách khóa học</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">IDVideo</th>
                <th scope="col">Customize</th>
            </tr>
        </thead>


        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.idVideo}}</td>
                    <td>
                        <a
                            href=""
                            class="btn btn-link btn-restore"
                            data-id="{{this._id}}"
                        >Khôi phục</a>
                        {{!-- <a
                            href=""
                            data-toggle="modal"
                            data-id="{{this._id}}"
                            data-target="#modalTrash"
                        >Remove</a> --}}
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<!-- Modal -->
<div
    class="modal fade"
    id="modalTrash"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- form method Restore --}}
<form method="POST" name="form-restore-course"></form>

{{!-- form method Removed --}}
<form method="POST" name="form-removed-course"></form>

{{! modal javascript }}
<script>

    document.addEventListener("DOMContentLoaded", () => {
        var btnRestore = $(".btn-restore");
        var formRestoreCourse = document.forms["form-restore-course"]
        var formRemovedCourse = document.forms["form-removed-course"]


        // Restore btn clicked
        btnRestore.click(function (e) {
            e.preventDefault()

            var idCourse = $(this).data("id")
            formRestoreCourse.action = "/courses/" + idCourse +"/restore?__method=PATCH"
            formRestoreCourse.submit();
        })

    })


</script>