<div class="mt-4">
    <div>
        <h2>Trash Courses</h2>
        <a href="/me/stored/courses">Danh sách khóa học</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">IDVideo</th>
                <th scope="col">Customize</th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.idVideo}}</td>
                    <td>
                        <a
                            href=""
                            class="btn btn-link btn-restore"
                            data-id="{{this._id}}"
                        >Restore</a>
                        <a
                            href=""
                            class="btn btn-link btn-delete"
                            data-id="{{this._id}}"
                            data-toggle="modal"
                            data-target="#modal-delete"
                        >Delete</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>

{{! Confirm delete course }}
<div
    class="modal fade"
    id="modal-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Delete Course</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action cannot be undone. Do you still want to delete this course?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete-course-modal">Delete</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{! form method Restore }}
<form method="POST" name="form-restore-course"></form>

{{! form method Remove }}
<form method="POST" name="form-remove-course"></form>

{{! modal javascript }}
<script>

    document.addEventListener("DOMContentLoaded", () => {
        var idCourse;
        var formRestoreCourse = document.forms["form-restore-course"];
        var formDeleteCourse = document.forms["form-delete-course"];

        // When dialog confirm clicked
        $('#modal-delete').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            idCourse = button.data('id');
        });

        $(".delete-course-modal").click(function() {
            formRestoreCourse.action = "/courses/" + idCourse + "/force?__method=DELETE";
            formRestoreCourse.submit();
        })

        // Restore btn clicked
        $(".btn-restore").click( function (e) {
            e.preventDefault();
            idCourse = $(this).data("id");
            formRestoreCourse.action = "/courses/" + idCourse + "/restore?__method=PATCH";
            formRestoreCourse.submit();
        })

    })

</script>